@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@200;400&family=Quicksand&display=swap');
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

* {
    margin: 0;
    padding: 0;
}

body{
  overflow-x : hidden ;
}

/* NAV BAR début */
.navi {
    position: sticky;
    top: 0;
    z-index : 100;
}

.navbar {
    background-color: white;
    box-shadow : 0px 0px 50px rgb(204, 202, 202);
  }

.navbar a {
    color: #689d71;
    text-align: center;
    text-decoration: none;
    margin-right: 1em;
    font-family: QuickSand;
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: #aeadad 1px 1px 12px;
}

.navbar a:hover {
    background-color: #fbfafa;
    color: darkgreen;
    text-decoration: underline;
}

nav .menu-hamburger {
    width: 30px;

}

.menu-hamburger{
    display: none;
}

.mobile-menu {
    margin-left: 0;
}


/* MediaQuery début */
@media screen and (max-width : 800px) {
  body{
    overflow-x : hidden ;
  }
  .navlinks{
    display: none;
  }
.navlinks.mobile-menu{
    margin-left: 0;
}

.menu-hamburger{
  display: block;
  width: 50px;
  height: 40px;
  margin-right: 40px;
}

.navlinks.mobile-menu{
  position: absolute;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  right: 5px;
  top :100px;
  background-color: white;
  border-radius: 20px;
  box-shadow: gray 1px 1px 10px;
  padding: 10px;
}


.navlinks.mobile-menu a {
    border-bottom: 1px solid lightgrey;
    padding: 0.9em;
  }
  
  .iframesContainer{
    display: flex;
    flex-wrap: wrap;
  }
  
  #lexique {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
   
  #alphabet img{
    width: 230px;
    height: 250px;
  }
  
  #signes-de-base {
    display: flex;
    flex-direction: column;
  }

  #signes-de-base .videos p {
    font-size: 1em;
  }

  #iframesContainerr {
    width: 90%;
    display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
}
/* MediaQuery FIN */

#logo:hover {
  cursor: pointer;
  -webkit-filter : hue-rotate(40deg);
  box-shadow : 0px 2px 3px grey;
}
/* NAV BAR FIN */

/* DEBUT header acceuil */
#tittle {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #689d71;
    color: #333;
    text-align: center;
  }

#tittle h1 {
    font-family: Playpen Sans ;
    font-size: 10em;
    text-align: center;
    text-shadow: #9d9d9d 0px 0.5px 40px ;
      } 

#tittle p{
    font-size : 2em;
    font-family: QuickSand;
    padding : 1em;
}

#tittle span {
    font-size : 2em;
    font-family: QuickSand;
}
/* FIN header acceuil */

/* Début section lexique */
#lexique {
  margin-top: 3%;
    display: flex;
    text-align: center;
}
  
h2{
padding: 1%;
text-align: center;
font-style: italic;
box-shadow: 1px 1px 10px grey;
}

#lexique h3 {
    font-weight: Playpen Sans;
    font-size: 2.5em;
    color: #689d71;
}
  
#lexique .liTittle{
    font-family: Playpen Sans;
    padding: 0.8em;
    margin-top: 1%;
    font-size: 1.3em;
}
#lexique li {
    font-family: QuickSand;
    list-style: none;
    line-height: 1.5em;
    font-size: 1em;
}

article{
  width: 50vw;
}

/* FIN LEXIQUE */


/* DEBUT : SIGNES DE BASE */
#signes-de-base,
#autre-signes{
  background: radial-gradient(circle at center, #e0dfdf, #444);
  border-top: 1em white solid;
}

#signes-de-base h3,
#autre-signes h3{
  color: #5c8b64;
  text-shadow: #f0f0f0 0.8px 0.8px 5px;
  padding: 1em;
  font-size: 2.5em;
  letter-spacing: 0.2em;
  text-align: center;
  font-weight: Playpen Sans;

}
#signes-de-base p,
#autre-signes p{
text-align: center;
}


.iframesContainer {
  margin-top: 10%;
  height: 30vh;
}

.iframes{
  position: relative;
  width: 30%;
  display: block;
  border-radius: 30px;
  padding: 0.5em;
  background-color: #74b07e;
}

.video-iframe1{
  top:0;
  left: 40% ;
  z-index: 3;
  opacity: 1;
}

.video-iframe2{
  top:-260px;
  left: 15%;
  z-index: 2;
  opacity: 0.7;
}

.video-iframe3{
  top:-510px;
  left: 65%;
  z-index: 2;
  opacity: 0.7;
}

.video-iframe4{
  top:-770px;
  left: 40%;
  z-index: 1;
  opacity: 0.7;
}

.videos{
  display: flex;
  justify-content: space-around;
  padding: 1em;
}

.videos p {
  border: 2px solid #44684a;
  padding: 0.7em;
  border-radius: 25px;
  box-shadow: #cdcdcd 1px 1px 20px;
  background-color: #74b07e;
  color: white;
  font-family: Playpen Sans;
  font-size: large;
}

.videos p:hover{
  background-color: #cfcece;
  color: #689d71;
  font-weight: bold;
  box-shadow: #689d71 1px 1px 25px;
}
/* FIN : SIGNES DE BASE */

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50vh;
}
.carouselContainerr{
padding: 70px 0;
font: 15px/20px Arial, sans-serif;
}
.containerr {
margin: 0 auto;
width: 250px;
height: 200px;
position: relative;
perspective: 1000px;
}
.carousel {
height: 100%;
width: 100%;
position: absolute;
transform-style: preserve-3d;
transition: transform 1s ease;
}
.itemm {
display: block;
position: absolute;
background: #000;
border: #74b07e 4px solid;
border-radius: 20px;
width: 285px;
height: 240px;
text-align: center;
color: #FFF;
opacity: 0.95;
}

.itemm iframe {
width: 100%;
}

.a {
transform: rotateY(0deg) translateZ(250px);
}
.b {
transform: rotateY(60deg) translateZ(250px);
}
.c {
transform: rotateY(120deg) translateZ(250px);
}
.d {
transform: rotateY(180deg) translateZ(250px);

}
.e {
transform: rotateY(240deg) translateZ(250px);

} 
.f {
transform: rotateY(300deg) translateZ(250px);

}
.next, .prev {
color: #444;
position :relative;
padding: 1em 2em;
cursor: pointer;
background: #74b07e;
border-radius: 15px;
border: 1px solid white;
box-shadow: 0 5px 0 #999;
transition: box-shadow 0.1s, top 0.1s, translate 0.3s linear;
}
.next:hover, .prev:hover { 
  color: rgb(254, 254, 254, 120); 
  background-color: #333;
  transform: translateY(1.3);
  transition: transform 0.5s ease;
}

.next:active, .prev:active {
box-shadow: 1px 1px 5px #74b07e;
}
.next:after {
content: ">";
position: absolute;
padding-left: 10px;
}

.next:hover:after {
transform: translateX(3px);
transition: transform 0.3s ease;
}

.prev:after {
  content: "<";
  position: absolute;
  padding-left: 10px;
  }

  .prev:hover:after {
    transform: translateX(-3px);
    transition: transform 0.3s ease;
    padding-right: 10px;
    }

h5 {
margin: 0;
}
/* FIN SIGNE DE BASE */

/* TIMELINE début */
#culture{
  text-align: center;
}
.culturee{
  text-align: center;
  font-family: Playpen Sans;
  margin-top: 10%;
  font-size: 2em;
  color: #44684a;
}

.timeline-container {
  width: 100%;
  overflow: hidden;
}

.timeline {
  position: relative;
  margin:10%;
  width: 80%;
}

.timeline-item {
  padding: 20px;
  margin: 20px 10px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 10px #689d71;
  opacity: 0.4;
  transform: translateX(150px);
}

.timeline-item.active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

/* TIMELINE début */

.about-us {
  background-color: #689d71;
  color: #fff;
  padding: 50px 0;
  text-align: center;
}

.about-us-container {
  max-width: 800px;
  margin: 0 auto;
}

.section-title {
  font-size: 2em;
  margin-bottom: 20px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.9s ease, transform 0.9s ease;
}

.about-us-content {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.9s ease, transform 0.9s ease;
}

.about-us-content.active,
.section-title.active {
  opacity: 1;
  transform: translateY(0);
}

.footer {
  background-color: #689d71;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 2em;
  }

#logoFooter{
  border-radius: 50%;
}

#social-icons {
  display: flex;
  cursor: pointer;
}

.icon {
  display: flex;
  justify-content: space-around;
  margin-right: 10px;
  text-decoration: none;
}

.icon:hover{
  transform :scale(1.3);
  transition: transform 0.4s ease;
}




